<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static',filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='cocktail.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap" rel="stylesheet">
    <script src="{{ url_for('static',filename='main.js') }}"></script>
    <title>Random Cocktail 🍹</title>
</head>
<body>

    <div class='centerDiv'>
        <h1>Random Cocktail</h1>
        <button id="cb" onclick="randomCocktail()"> CLICK ME!</button>

        <!-- Cocktail -->
        <h2 id="nome"></h2>
        <hr>
        <h3 id="alc_glass"></h3>
        <hr>
        <p id="ing"></p>
        <hr>
        <p id="ins"></p>
        <img > </img>
    </div> 


    

    <footer>
        Michele Guarda
        <a href="https://github.com/MikeRedfox" target="_blank">
            <i class="fa fa-github" style="font-size:24px;color:teal" href=""></i>
        </a>
        <a style="color: black;font-size:  1px;" href="https://www.flaticon.com/free-icons/cocktail" title="cocktail icons">Cocktail icons created by Vitaly Gorbachev - Flaticon</a>
    </footer>
</body>


</html>